#main 
{
	margin:auto;
	width: 650px;
	border: 1px black solid;
	border-radius: 20px;
	padding: 20px 0px 20px 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background:#00000036;
}
#chart
{
	margin:auto;
	width: 600px;
}

#titleHeading 
{
	font-size:40px;
	padding:10px;
	text-align:center;
}

#clear 
{
	clear:both;
}

#temperature 
{
	padding:5px;
	font-size:20px; 
	font-weight:bold; 
	display:block;
	text-align:center;
}

.heatText
{
	padding:5px;
	font-size:15px; 
	font-weight:bold; 
	text-align:center;
	width:100%;
	color:red;
}

.currentTemp
{
	padding:5px;
	text-align:center;
}
.heatOff
{
	color:black;
}

.heatOn
{
	color:red;
}

.formRow 
{
	padding:5px;
	text-align:center;
}